asttokens==2.4.1
boolean.py==4.0
cffi==1.17.1
clingo==5.7.1
comm==0.2.2
contourpy==1.3.1
cvxopt==1.3.2
cycler==0.12.1
debugpy==1.8.8
declare4py==2.2.0
decorator==5.1.1
deprecation==2.1.0
executing==2.1.0
fonttools==4.55.0
graphviz==0.20.3
intervaltree==3.1.0
ipykernel==6.29.5
ipython==8.29.0
jedi==0.19.2
joblib==1.4.2
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.7
lark==1.2.2
lark-parser==0.12.0
logaut==0.2.0
ltlf2dfa==1.0.2
lxml==5.3.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
mlxtend==0.23.3
mpmath==1.3.0
nest-asyncio==1.6.0
networkx==3.4.2
numpy==2.1.3
packaging==24.2
paho-mqtt==2.1.0
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==11.0.0
platformdirs==4.3.6
pm4py==2.7.4
prompt_toolkit==3.0.48
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pybeamline==1.0.4
pycparser==2.22
pydotplus==2.0.2
Pygments==2.18.0
pylogics==0.2.1
pyparsing==3.2.0
pythomata==0.3.2
python-dateutil==2.9.0.post0
pytz==2024.2
pyzmq==26.2.0
reactivex==4.0.4
scikit-learn==1.5.2
scipy==1.14.1
setuptools==75.6.0
six==1.16.0
sortedcontainers==2.4.0
stack-data==0.6.3
StringDist==1.0.9
sympy==1.13.3
threadpoolctl==3.5.0
tornado==6.4.1
tqdm==4.67.0
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
wcwidth==0.2.13
wheel==0.45.1
