[run]
source = pybeamline
omit =
    */.venv/*
    */tests/*
    */__init__.py
    */setup.py
    *pybeamline/algorithms/conformance/*
    *pybeamline/utils/dfg_to_graphviz.py*
    *pybeamline/utils/ocdfg_to_graphviz.py*
    *pybeamline/utils/visualizer.py*

[report]
exclude_lines =
    if __name__ == .__main__.:
    pragma: no cover
    pass
