[run]
source = pybeamline
omit =
    */.venv/*
    */tests/*
    */__init__.py
    */setup.py
     pybeamline/algorithms/conformance/*
     pybeamline/algorithms/discovery/dfg_miner.py
     pybeamline/algorithms/lambda*
     pybeamline/utils/dfg_to_graphviz.py
     pybeamline/utils/ocdfg_to_graphviz.py
     pybeamline/utils/visualizer.py
     pybeamline/mappers/*
     pybeamline/filters/*
     pybeamline/sources/mqtt*
     pybeamline/sources/real*
     pybeamline/sources/string*
     pybeamline/sources/xes*

[report]
exclude_lines =
    pragma: no cover





[report]
exclude_lines =
    if __name__ == .__main__.:
    pragma: no cover
    pass
